---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<Sidebar />
			<main>
				<h1 style="text-align: center;">こんにちは！</h1>
				<p>
					Mollis nunc sed id semper risus in. Convallis a cras semper auctor
					neque. Diam sit amet nisl suscipit. Lacus viverra vitae congue eu
					consequat ac felis donec. Egestas integer eget aliquet nibh praesent
					tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In
					vitae turpis massa sed elementum. Tristique et egestas quis ipsum
					suspendisse ultrices. Eget lorem dolor sed viverra ipsum. Vel turpis
					nunc eget lorem dolor sed viverra. Posuere ac ut consequat semper
					viverra nam. Laoreet suspendisse interdum consectetur libero id
					faucibus. Diam phasellus vestibulum lorem sed risus ultricies
					tristique. Rhoncus dolor purus non enim praesent elementum facilisis.
					Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed
					risus pretium quam vulputate. Viverra suspendisse potenti nullam ac
					tortor vitae purus faucibus ornare. Fringilla urna porttitor rhoncus
					dolor purus non. Amet dictum sit amet justo donec enim.
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
